



.bikes-container {
  max-width: 500px;
}

.bikes-title {
  display: block;
  font-family: Poppins-Bold, cursive;
  font-size: 39px;
  color: #333333;
  line-height: 2;
  text-align: center;
}


.bikes-button-assign{
  border-radius: 50px !important;
  margin-right: 3vh;
  height: 2.4em;
}
